{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to  Asadbek Sindarov's Blog! Here we'll be talking about everything related to <code>Tech </code> and <code>Computer Science.</code> Basics, frameworks, machine learning, other data science stuff, any new tech and pretty much anything related computer science!!!</p>
        <p>Go to telegram and check out our telegram blog channel <a href="https://t.me/AsadbekSindarov">here</a>.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
